.choose {
  font-size: 1.7rem;
  font-weight: bolder;
  color: rgb(115, 115, 145);
  text-align: center;
  text-shadow: 1px 1px 2px rgb(221, 136, 136), 0 0 1em rgb(144, 144, 240),
    0 0 0.2em rgb(75, 234, 252);
  margin: 0;
  padding: 2rem 0 2rem 0;
  -webkit-animation: linear defilant 5s infinite;
  animation: linear defilant 5s infinite;
  overflow: hidden;
}
@-webkit-keyframes defilant {
  0%,
  100% {
    margin-left: 0;
  }
  99.99% {
    margin-left: -100%;
  }
}
@keyframes defilant {
  0%,
  100% {
    margin-left: 0;
  }
  99.99% {
    margin-left: -100%;
  }
}
